body {
  background-color: #e1f5fe;
}

.fTitle {
  display: flex;
  justify-content: center;
}

.btns {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.fCard {
  display: flex;
  justify-content: center;
  margin-top: 10em;
  margin-bottom: 3em;
}

.newCard {
  display: flex;
}
